.bg-hero-image {
    background-image: url('https://picsum.photos/1300/500');
    background-position: center center;
}


.btn { 
    transition: all .2s ease-in-out; 
    }
    
.btn:hover { 
    transform: scale(1.1); 
    }

body {
    font-family: 'Playfair Display', serif;
    background-color: #f9d4f1;
}

.navbar-brand {
    font-size: 35px;
}

.navbar {
    font-size: 25px;
}

.eeeee {
    background-color: #fbe5f8;
}
